nav {
    padding-left: 35px;
    padding-right: 35px;
}
.navbar-brand {
    font-family: 'Oswald', sans-serif;
}
.section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px ;
    padding-left: 35px;
    padding-right: 35px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.unpublished {
    color:Tomato;
}
.publication {
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}